<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-card>
      <ion-item>
        <ion-label position="floating">Nome do produto</ion-label>
        <ion-input  [(ngModel)]="nomeP" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating" >Marca</ion-label>
        <ion-input  [(ngModel)]="marca"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Preço</ion-label>
        <ion-input  [(ngModel)]="preco"  type="floating" ></ion-input>
      </ion-item>
      

      <ion-item>
        <ion-label position="floating" >Quantidade</ion-label>
        <ion-input  [(ngModel)]="endereco"type="number" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">tag</ion-label>
        <ion-input  [(ngModel)]="tag"  type="email" ></ion-input>
      </ion-item>


      <ion-card-content>
        <ion-button (click)="cadastro()" size="small" expand="block" > Cadastrar</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

