<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [text]="Voltar">
      </ion-back-button>
    </ion-buttons>


    <ion-title>Lista de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of produtos">
    
      ID: {{item._id}}<br><br>
      Nome: {{item.nomeP}}<br><br>
      Marca: {{item.marca}}<br><br>
      Preço: {{item.marca}}<br><br>
      Quantidade: {{item.quantidade}}<br><br>
      TAG: {{item.tag}}<br><br>
      
        <ion-button (click)="deleteProduto(item._id)" size="small" expand="block" > Cadastrar</ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
