<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [text]="Voltar">
      </ion-back-button>
    </ion-buttons>


    <ion-title>Lista de Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of clientes">
    
      ID: {{item._id}}<br><br>
      Nome: {{item.nome}}<br><br>
      CPF: {{item.cpf}}<br><br>
      Telefone: {{item.telefone}}<br><br>
      E-mail: {{item.email}}<br><br>
      Endereço: {{item.endereco}}<br><br>
      UF: {{item.uf}}<br><br>
      TAG: {{item.tag}}<br><br>
    </ion-item>
  </ion-list>
</ion-content>
