<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IRPF APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IRPF - APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <h1>IRPF - IONIC APP </h1>

  <ion-button (click)="irCadastro()" expand="full" >Cadastrar</ion-button>
  <ion-button (click)="irLista()" expand="full" >Listar Produtos</ion-button>
    
  </div>
</ion-content>
